#main{
  height: 90vh !important;
  height: -webkit-fill-available;
  background-color: white;
  position: relative;
}

#bigColumn{
  position: relative;
}

#smallColumn{
  position: relative;
}

#staticText{
  position: absolute;
  top: 27%;
  left: 2.5rem;
  font-size: 2.2rem;
  font-weight: 700;
}

#changingText{
  position: absolute;
  top: 43%;
  left: 2.5rem;
  font-size: 1.7rem;
  font-style: italic;
}

#contact{
  position: absolute;
  bottom: 0;
  left: 2rem;
}

.icons{
  font-size: 2rem;
  margin: 1rem 0.5rem;
  border: none;
  background-color: transparent;
}

.call{
  color: rgba(0, 0, 0, 0.55);
}

.mail{
  color: #8c8cf3;
}

.sms{
  color: #8e8b8b;;
}

.whatsapp{
  color: #25D366;
}

.twitter{
  color: #1DA1F2;
}

.linked{
  color: #0072b1;
}

.git{
  color: black;
}


//medium
@media (max-width: 991.98px){

  #staticText{
    font-size: 1.8rem;
  }

  #changingText{
    top: 40%;
    font-size: 1.5rem;
  }

  .icons{
    font-size: 1.7rem;
  }
}

//small
@media (max-width: 767.98px){
  #smallColumn{
    display: none;
  }

  #staticText{
    left: 1rem;
  }

  #changingText{
    top: 39%;
    left: 1rem;
  }

  #contact{
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
  }

  .icons{
    margin: 0;
    padding: 0;
  }
}

//xs
@media (max-width: 401px){
  #changingText{
    top: 48%;
  }
}

/* CSS specific to iOS devices */
@supports (-webkit-touch-callout: none) {
  #contact{
    bottom: 12%;
  }
}