#navbar{
  background-color: white;
}

#navLink{
  font-weight: 700;
  font-size: 1.5rem;
}

#theme{
  font-weight: 700;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.55);
}

@media (max-width: 991.98px){
  #navLink, #theme{
    font-size: 1.2rem;
  }
}